{% extends 'layout.html' %}

{% block title %} Users {% endblock %}

{% block content %}
    <table>
        {% for users in user %}
            <thead class = 'thead-secondary'>
                <tr> List Of Users </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ users.username }}</td>
                    <td>{{ users.first_name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ users.date_created }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}